<section class="content-main mt-80 mb-80 pt-100">
    <div class="card mx-auto card-login" style="width: 30rem;">
        <div class="card-body">
            <h4 class="card-title mb-4">OTP SIGNIN</h4>
            <form action="/otpsignin" method="post">
                <div class="mb-3">
                    <input class="form-control" id="phone" placeholder="Enter Phone" type="text" name="phone" onkeyup="return validatePhone()">
                    <span id="phoneError" style="color: red; font-size: 12px; margin-top: 5px;"></span>
                </div> <!-- form-group// -->
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary w-100">GET OTP</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    function validatePhone(){
        const phone = document.getElementById('phone').value;
        const regExp = /^[1-9]{1}\d{9}$/;
        if(!regExp.test(phone)){
            document.getElementById('phoneError').innerHTML = "Enter a valid Phone Number!"
            return false;
        }else{
            document.getElementById('phoneError').innerHTML = "";
            return true;
        }
    }
</script>