<section class="content-main mt-80 mb-80 pt-100">
    <div class="card mx-auto card-login">
        <div class="card-body">
            <h4 class="card-title mb-4"></h4>
            <form action="/otp-forgotpassword" method="post">
                <div class="mb-3">
                    <input class="form-control" id="otp" placeholder="Enter OTP" type="text" name="otp">
                    <% if (locals.err) { %>
                        <span id="otpError" style="color: red; font-size: 12px; margin-top: 5px;">
                            <%=err %>
                        </span>
                        <% } %>
                            <span id="validateError" style="color: red; font-size: 12px; margin-top: 5px;"></span>
                </div> <!-- form-group// -->
                <div class="mb-4">
                    <button type="submit" class="btn btn-primary w-100">Signin</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    function validateOtp() {
        const otp = document.getElementById('otp').value
        const regExp = /^\d{4}$/;
        if (!regExp.test(otp)) {
            document.getElementById('validateError').innerHTML = "Enter Valid 4 digits OTP"
            return false;
        } else {

            document.getElementById('validateError').innerHTML = ""
            return true;
        }
    }